
.content {
  max-width: 480px;
}

.controls > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.controls > ul > li {
  display: inline-block;
  float: left;
}

.icon-download-alt {
  position: relative;
  top: 1px;
}

.link {
  text-decoration: none;
  padding: 8px;
  cursor: pointer;
}
