
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #666;
}

html, body {
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.shadow {
  -moz-box-shadow: inset 1px 1px 2px rgb(205, 235, 253);
  -webkit-box-shadow: inset 1px 1px 2px rgb(205, 235, 253);
  box-shadow: inset 1px 1px 2px rgb(205, 235, 253);
}

.library {
  padding: 12px;
  max-width: 480px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cell {
  position: relative;
  padding: 12px;
  border: 1px solid rgb(190, 212, 224);
  border-bottom: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cell:last-child {
  border-bottom: 1px solid rgb(190, 212, 224);
}

.album {
  padding-left: 36px;
}

.track {
  padding-left: 60px;
}

.icon {
    padding: 0 4px 0 0;
}

.control {
  position: absolute;
  right: 0;
  padding: 0 12px;
  display: inline-block;
}

.control .icon {
  padding: 8px;
}

.icon-download-alt {
  position: relative;
  top: 1px;
}

