<table class="table library">
  <tr ng-repeat="track in library">
    <td class="title">
      {{ track.title }}
    </td>
    <td class="album">
      {{ track.album }}
    </td>
    <td class="artist">
      {{ track.artist }}
    </td>
    <td class="controls">
      <ul>
        <li><a class="link" ng-click="play(track._id)"><i class="icon-play"></i></a></li>
        <li><a class="link" ng-click="pause()"><i class="icon-pause"></i></a></li>
        <li><a class="link" ng-click="cache()"><i class="icon-upload-alt"></i></a></li>
        <li><a class="link" ng-click="release()"><i class="icon-download-alt"></i></a></li>
      </ul>
    </td>
  </tr>
</table>
